body{
	min-width: 600px;
	width:100%;
	margin: 0;
	padding: 0;
	background-color: black;

}

main{
	min-width: 600px;
	box-sizing: border-box;
	width:100%;
	position: relative;
	top: 100px;
	height:635px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	animation: frame 5s linear infinite;
	
}

main h1{
	padding-top: 30px;
	margin:0;
	font-family: Cursive;
	text-align: center;
	font-size: 50px;
}


@keyframes frame{

	0% {background-image:conic-gradient(#f00, #f50, #ff0, #0c0, #09d, #03a, #909, #f00);}
	14% {background-image:conic-gradient(#f50, #ff0, #0c0, #09d, #03a, #909, #f00, #f50);}
	28% {background-image:conic-gradient(#ff0, #0c0, #09d, #03a, #909, #f00, #f50, #ff0);}
	42% {background-image:conic-gradient(#0c0, #09d, #03a, #909, #f00, #f50, #ff0, #0c0);}
	64% {background-image:conic-gradient(#09d, #03a, #909, #f00, #f50, #ff0, #0c0, #09d);}
	70% {background-image:conic-gradient(#03a, #909, #f00, #f50, #ff0, #0c0, #09d, #03a);}
	85% {background-image:conic-gradient(#909, #f00, #f50, #ff0, #0c0, #09d, #03a, #909);}
	100%{background-image:conic-gradient(#f00, #f50, #ff0, #0c0, #09d, #03a, #909, #f00);}
}

.mainPlate{
	display:inline-block;
	width: 32%;
	height: 615px;
	background-color: black;
}
